@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


.profile-pic {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

#update-btn {
    color: white;
}

body {
    font-family: 'Tilt Neon', cursive;
    background-color: #e9c46a;
    color: #2a9d8f;
}

.jumbotron {
    background-color: #e9c46a;
}

.navbar {
    font-family: 'Tilt Neon', cursive;
}

.nav-link {
    color: #2a9d8f;
    font-family: 'Tilt Neon', cursive;
}

.nav-link:hover {
    color: #f4a261;
}

.resume-btn {
    color: white;
}

.resume-btn:hover {
    color: white;
}

.form-control {
    background-color: #f4a261;
}

.form-control:focus {
    background-color: #264653;
    color: white;
}

.form-control-file {
    background-color: #f4a261;
}

.form-control-file:focus {
    background-color: #264653;
    color: white;
}

#back {
    color: white;
}

#back:hover {
    color: white;
}

#rendered-resume {
    height: 50%;
    width: 50%;
}

#port-nav:hover {
    color: #2a9d8f;
}

#port-nav {
    color:#f4a261;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
}

.flex-child {
    flex: 1;
}

.flex-child:first-child {
    margin-right: 20px;
}

.demo-link:hover {
    color: #e76f51;
}

.demo-link {
    color:#264653
}

.project-link:hover {
    color: #e76f51;
}

.project-link {
    color:#264653
}

h1 {
    color: maroon;
}

h2 {
    color:#e76f51
}

.index {
    justify-content: space-evenly;
}

#project-screenshot {
    height: 30%;
    width: 30%;
}