{% extends 'base.html' %}

{% block body %}

<div class="jumbotron">
    <div align='center'>
        <h1 >Edit {{current_user.first_name}}'s Account </h1>
        <img class="profile-pic" align='center' src="{{ url_for('static', filename='profile_pics/' + current_user.profile_image) }}">
        <p>{{ current_user.email }}</p>
</div>

<div class="container">
    <form method="POST" action="/account" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
        {{ form.first_name.label(class='form-group') }} 
        {{ form.first_name(class='form-control') }}
        </div>

        <div class="form-group">
        {{ form.last_name.label(class='form-group') }} 
        {{ form.last_name(class='form-control') }}
        </div>

        <div class="form-group">
        {{ form.username.label(class='form-group') }} 
        {{ form.username(class='form-control') }}
        </div>

        <div class="form-group">
        {{ form.email.label(class='form-group') }} 
        {{ form.email(class='form-control') }}
        </div>

        <div class="form-group">
        {{ form.picture.label(class='form-group') }} 
        {{ form.picture(class='form-control-file') }}
        </div>
        <br>

        {{ form.submit(class='btn btn-info') }}

        <button class="btn btn-danger"><a class="resume-btn" href="{{url_for('users.upload_file')}}">Add Your Resume Here</a></button>
    </form>
    <br>
    
</div>

{% endblock %}