{% extends 'base.html' %}

{% block body %}
<div class="container">
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.first_name.label }} {{ form.first_name() }}
    <br>
    {{ form.last_name.label }} {{ form.last_name() }}
    <br>
    {{ form.username.label}} {{form.username() }}
    <br>
    {{ form.email.label}} {{form.email() }}
    <br>
    {{ form.password.label }} {{ form.password() }}
    <br>
    {{ form.pass_confirm.label }} {{ form.pass_confirm() }}
    <br>
    {{ form.submit() }}
</form>
</div>

{% endblock %}
