{% extends 'base.html' %}

{% block body %}

<div class="container" align="center">


{% if img %}
<h1>Your Resume:</h1>
<img class="rendered-resume" src="{{url_for('static', filename='resumes/' + img)}}">
{% else %}
<h1>Upload Resume To Preview</h1>
<br>
<form action="{{ url_for('users.upload_file') }}" enctype="multipart/form-data" method="POST">
    <input name="img" type="file"/>
    <input type="submit"/>
</form>
<br>
<button class="btn btn-danger"><a id="back" href="{{url_for('users.account')}}">Go Back</a></button>
{% endif %}


</div>
{% endblock %}ß